<ul class='topbar_links'>
	<li><%= link_to 'Home', home_path %></li>
	<li><%= link_to 'Ultimate', ultimate_path %></li>
	<li><%= link_to 'Tech', tech_path %></li>
	<li><%= link_to 'Life', life_path %></li>
	<li><%= link_to 'About', about_path %></li>
</ul>
